@page "/"
@using kantahe.Data
@using Syncfusion.EJ2.Blazor.Grids
@using System.Collections.ObjectModel
@inject SongService SongService
@inject QueueService QueueService

<div>
    <button class="btn btn-primary m-2" @onclick="Play"><span class="oi oi-media-play" aria-hidden="true"></span></button>
    <button class="btn btn-danger m-2" @onclick="Stop"><span class="oi oi-media-stop" aria-hidden="true"></span></button>
    <button class="btn btn-warning m-2" @onclick="Next"><span class="oi oi-media-skip-forward" aria-hidden="true"></span></button>
</div>

<h1>Queue</h1>

@if (queues == null)
{
    <p><em>Loading...</em></p>
}
else if (queues.Count == 0)
{
    <p><em>No songs in queue.</em></p>
}
else
{
    <div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <div class="row">
                <EjsGrid DataSource="@queues" AllowPaging="true">
                    <GridPageSettings PageCount="5" PageSize="10"></GridPageSettings>
                    <GridSelectionSettings Type="SelectionType.Single" Mode="SelectionMode.Row"></GridSelectionSettings>
                    <GridColumns>
                        <GridColumn Field=@nameof(Song.Title) HeaderText="Title"></GridColumn>
                        <GridColumn Field=@nameof(Song.Artist) HeaderText="Artist"></GridColumn>
                    </GridColumns>
                </EjsGrid>
            </div>
        </div>
    </div>
    <p><em>Drag down to update list.</em></p>
}

@code {
    private ObservableCollection<Song> queues;

    protected override void OnInitialized()
    {
        queues = State.Queue;
    }

    private async Task Play()
    {
        await QueueService.Play();
    }

    private async Task Stop()
    {
        await QueueService.Stop(false);
    }

    private async Task Next()
    {
        await QueueService.NextSong();
    }
}